[submodule "voice-assistant"]
	path = voice-assistant
	url = https://github.com/pib-rocks/voice-assistant.git
[submodule "motors"]
	path = motors
	url = https://github.com/pib-rocks/motors.git
[submodule "datatypes"]
	path = datatypes
	url = https://github.com/pib-rocks/datatypes.git
