[submodule "voice-assistant"]
	path = voice-assistant
	url = https://github.com/pib-rocks/voice-assistant.git
	branch = main
[submodule "motors"]
	path = motors
	url = https://github.com/pib-rocks/motors.git
	branch = main
[submodule "datatypes"]
	path = datatypes
	url = https://github.com/pib-rocks/datatypes.git
	branch = main
[submodule "ros2_oak_d_lite"]
	path = ros2_oak_d_lite
	url = https://github.com/pib-rocks/ros2_oak_d_lite.git
	branch = main
